* {
	box-sizing: border-box;
}
.text{
    color: white;
}

 body {
    background-color: black;
}

.navbar{
    background-color:white;
	/* margin-left: 10px; */
	padding: 20px;
}
/* Main Home Banner and Input Search Container r*/

.home-banner {
    background-image: url("../image/banner3.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
    /* padding: 40px; */
}


.input-search-container {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
}

.inputIcon {
	position: absolute;
	left: 5px;
	font-size: 25px;
	vertical-align: middle;
	color: #AAA;
    margin: 12px;
}

.inputForm {
	width: 225px;
	height: 60px;
	padding-left: 35px;
    margin-left: 10px;
    border-radius: 10px;
}

.inputLabel-default {
	position: absolute;
	left: 30px;
	color: grey;
	font-weight: 350;
	font-size: 15px;
	margin-top: 8px;
	transition-duration: 0.3s;
    padding-left: 20px;
    padding-top: 7px;
}
	.inputLabel-focusIn {
		position: absolute;
		left: 30px;
		color: #9b9b9b;
		font-size: 10px;	
		margin-top: 1px;
	}
    .btn{
        height: 60px;
        margin-left: 10px;
        border-radius: 10px;
    }

/* Coupons Container */
.holiday-coupon-container {
	width: 540px;
	position: absolute;
	left: 30%;
	right: 30%;
	top: -4em;
}
	.holiday-coupon-container > .d-table-cell {
		height: 100px;
	}
	.holiday-coupon-container .app img{
		height: 100px;
		width: 100px;
	}

	.bus{
		color: red;
		text-align: center;
	}

/* Cashback Container */
.cashback-container > div {
	transition: transform .2s;
}
	.cashback-container > div:hover {
		transform: scale(1.05);
	}
    .cashback-container img{
        height: 220px;
        width: 325px;
        margin-left: 40px;
        margin-top: 50px;
		margin-bottom: 10px;
    }
.graph{
	align-items: center;
	/* background-color: white; */
	color: white;
	height: 400px;
}
.graph h1{
	text-align: center;
	padding-bottom: 40px;
}
.graph img{
	height: 300px;
	width: 1000px;
	margin-left: 220px;
	margin-top: -20px;
	margin-bottom: 0px;
}